body{max-width: 500px; margin: auto;}
video{width: 100%; max-height: 1000px;}
img{width: 100%;}
.infinite-scroll-preloader{margin-top:-20px;}
.card .card-header .gif{width: 100%;}
#next-page{display: none};
