$COLOR_DARK_GREY: #333333;
$COLOR_GREY: #888888;
$COLOR_LIGHT_GREY: #eeeeee;
$COLOR_WHITE: #ffffff;
$COLOR_BLACK: #000000;


* {
    margin: 0px;
    padding: 0px;
}

a:link {
        text-decoration: none;
}

.break {
    clear: both;
    display: block;
    font-size: 0px;
    height: 0px;
    width: 0px;
}

#wrapper {
    width: 950px;
    margin: auto;
    text-align: left;
}

#header {
    margin-top: 30px;

    .logo {
        float: left;
    }
    .navi {
        background-color: $COLOR_DARK_GREY;
    }
    .navi-items {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    .navi-item {
        float: left;
        text-transform: uppercase;
        position: relative;

        a:link, a:visited {
            color: $COLOR_WHITE;
            display: block;
            font-size: 15px;
            padding: 10px 15px;
        }
        a:hover {
            background: $COLOR_GREY;
            color: $COLOR_BLACK;
        }
    }
}

#body {
    .content {

        .posts {
            float: left;
            overflow: hidden;
            padding-bottom: 20px;
            width: 640px;
            border-left: 1px solid $COLOR_LIGHT_GREY;
            border-right: 1px solid $COLOR_LIGHT_GREY;

            .post {
                border-top: 0px none;
                clear: both;
                font-size: 15px;
                line-height: 1.6em;
                padding: 14px 20px;
                border-bottom: 1px solid $COLOR_LIGHT_GREY;
                height: 150px;
                overflow: hidden;

                .thumb {
                    float: left;
                    width: 200px;
                    margin-right: 15px;

                    img {
                        width: 200px;
                        height: 150px;
                    }
                }
                .text {
                    float: left;
                    width: 380px;
                    overflow: hidden;
                    text-overflow: ellipsis;

                    h2 {
                        font-size: 18px;
                        line-height: 1.2em;
                        padding: 5px 0;
                        white-space:nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}
