{% for post in posts %}
  {% if loop.length > 0 %}
    <div class="card">
      <div valign="bottom" class="card-header color-white no-border no-padding">
        {% if type == 'gif' or type == 'photo' %}
          <img src="{{ post['alt_size']['url'] }}" class="gif">
        {% else %}
          <div style="position: relative">
            <a href="/player/{{ post['src_tag'] }}">
              <img src="http://o6nkzmi2i.bkt.clouddn.com/play.png" class="play-icon" style="position: absolute;">
            </a>
              <img src="{{ post['thumbnail_url'] }}">
          </div>
        {% endif %}
      </div>
      {% if 'summary' in post %}
        <div class="card-content">
          <div class="card-content-inner">
            <p>{{ post['summary'] }}</p>
          </div>
        </div>
      {% endif %}
      <div class="card-footer">
        <p class="color-gray">发表于 {{ post['date'] }}</p>
      </div>
    </div>
  {% endif %}
{% endfor %}
