<html>
  <head>
    {% block head %}
    <title>{{ title }} - {{ description }}</title>
    <meta name="keywords" content="福利聚合,福利视频,福利gif,福利图片">
    <meta name="description" content="{{ description }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/func.js' charset='utf-8'></script>
    <script src="http://s95.cnzz.com/z_stat.php?id=1259005270&web_id=1259005270" language="JavaScript"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    {% endblock %}
  </head>

  <body>
    {% block header %}{% endblock %}
    {% block navi %}{% endblock %}
    {% block cards %}{% endblock %}
  </body>

</html>
