<html>
  <head>
    {% block head %}
    <title>{{ title }} - {{ description }}</title>
    <meta name="keywords" content="宅男,福利,屌丝,撸,美女,性感,你懂的,你懂得,gif,动图,泳装,老司机,1024">
    <meta name="description" content="{{ description }}">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
    <script type='text/javascript' src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
    <script type='text/javascript' src='/static/func.js' charset='utf-8'></script>
    {% endblock %}
  </head>

  <body>
    <header class="bar bar-nav"><h1 class="title">{{ title }}</h1></header>
    {% block cards %}{% endblock %}
  </body>

</html>
