{% extends "base.html" %}

{% block head %}
{{ super() }}
<style>
body{max-width: 500px; margin: auto;}
.infinite-scroll-preloader{margin-top:-20px;}
video{width: 100%;}
#next-page{display: none};
</style>
{% endblock %}


{% block cards %}
<div class="content infinite-scroll infinite-scroll-bottom" data-distance="50">
  <div class="cards"></div>
  <!-- 加载提示符 -->
  <div class="infinite-scroll-preloader">
    <div class="preloader"></div>
  </div>
  <div class="content-block"><p><a id="next-page" href="#" class="button button-big button-round">下一页</a></p></div>
</div>

<script>
//$(document).ready(function() {
  var loading = false;
  var maxPage = {{ cur_page + 2 }};
  curPage = {{ cur_page }};

  $.initPage();
  addPage(curPage);
  curPage += 1;
  // 注册'infinite'事件处理函数
  $(document).on('infinite', '.infinite-scroll-bottom', infinite_scroll);
//});
</script>

{% endblock %}
