{% extends "bootstrap/base.html" %}
{% block html_attribs %}lang="zh"{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
{% endblock %}
{% block title %}福利聚合{% endblock %}


{% block content %}
<div class="header">
    <a href="http://fulijuhe.com"><h1>福利聚合</h1></a>
</div>

<div class="container">
    <div class="page">
        {% for item in items %}
            <div class="item row">
                <div class="title col-xs-12"><kbd>{{item['ch_src']}}</kbd><a target="_blank" href="{{item['url']}}">{{item['title']}}</a></div>
                <div class="thumb col-xs-4"><a target="_blank" href="{{item['url']}}"><img src="{{item['cdn_path']}}" /></a></div>
                <div class="description col-xs-8"><p>{{item['description']}}</p></div>
            </div>
        {% endfor %}
    </div>

    <div class="pagination">
        <li><a href="/page/{{pagination['first_page']}}">首页</a></li>
        {% if pagination['prev_page'] == pagination['cur_page'] %}
            <li class="disabled"><a href="#">上一页</a></li>
        {% else %}
            <li><a href="/page/{{pagination['prev_page']}}">上一页</a></li>
        {% endif %}

        {% for page in pagination['page_list'] %}
            {% if page == pagination['cur_page'] %}
                <li class="active"><a href="/page/{{page}}">{{page}}</a></li>
            {% else %}
                <li><a href="/page/{{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}

        {% if pagination['next_page'] == pagination['cur_page'] %}
            <li class="disabled"><a href="#">下一页</a></li>
        {% else %}
            <li><a href="/page/{{pagination['next_page']}}">下一页</a></li>
        {% endif %}
        <li><a href="/page/{{pagination['last_page']}}">尾页</a></li>
    </div>

    <div class="footer">
        <div id="cnzz" class="float_right">
            <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1259005270'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1259005270' type='text/javascript'%3E%3C/script%3E"));</script>
        </div>
        <div id="copyleft" class="float_right">
            Copyleft@fulijuhe.com
        </div>
    </div>

</div>



{% endblock %}
